.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  float: none;
  display: inline-block;
  margin-top: 2rem;
}

.pre-scrollable {
  min-height: 80vh !important;
  /*position: fixed;*/
  overflow: auto !important;
}

h4 {
  font-weight: bold;
}

p {
  font-weight: bold;
}

a {
  font-weight: bold;
}

.pre-scrollable::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

.pre-scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.pre-scrollable::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.border-line {
  border-right: thin solid #C0C0C0;
}

.panel {
  min-height: 90vh !important;
  /*overflow: hidden;*/
}

/*body {
  overflow: hidden;
}*/

.custom-btn {
  width: 100% !important;
  display: inline-block;
  margin-bottom: 6px;
  /*padding: 5px;*/
}

input {
  width: 100%;
  font-weight: bold;
}

textarea {
  font-weight: bold;
  text-align: center;
}

.thumb-friend {
  width: 30%;
  height: auto;
  /*border-radius: 50%;*/
  float: left;
  margin-right: 10px;
  word-wrap: break-word !important;
}

.thumb-friend-small {
  max-width: 50%;
  height: auto;
  float: left;
  word-wrap: break-word !important;
}

.thumb-friend-small-navbar {
  max-width: 50% !important;
  height: auto;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
  word-wrap: break-word !important;
}

textarea.custom {
  width: 100% !important;
}

/*html {
  background-color: yellow;
}*/

.custom-div {
  height: 100vh !important;
  overflow: hidden;
  /*margin-bottom: 10px !important;*/
}

.custom-div-sm {
  height: 50vh !important;
  overflow: hidden;
  overflow-wrap: break-word !important;
  /*margin-bottom: 10px !important;*/
}

.custom-name-top {
  margin-top: 4%;
  width: 50%;
  overflow: hidden;
}

.custom-name-top-small {
  margin-top: 4%;
  width: 100%;
}

.custom-name {
  width: 100%;
  overflow: hidden;
}

.panel {
  margin-top: 60px;
}

.input-group-addon {
  font-weight: bold;
}

.bottom-nav {
  margin-bottom: 10px;
}

.custom-control {
  resize: none;
}

.friends-message {
  background-color: #ff6666;
  padding: 15px;
  float: left;
  border-radius: 25px;
  margin-right: 50%;
  color: #ffffff;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word !important;
}

.my-message {
  background-color: #00ACC1;
  padding: 15px;
  float: right;
  border-radius: 25px;
  margin-left: 50%;
  color: #ffffff;
  text-align: right;
  width: 100%;
  overflow-wrap: break-word !important;
}

.messages {
  overflow-y: scroll;
}


/*-webkit-scrollbar {
    width: 1em;
}

-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/

.name {
  width: 100%;
}

@media (min-width: 320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body {
    font-size: 1rem;
  }
}

@media (min-width: 480px) { /* smartphones, Android phones, landscape iPhone */
  body {
    font-size: 1rem;
  }
}

@media (min-width: 600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body {
    font-size: 1rem;
  }
}

@media (min-width: 801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  body {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
  body {
    font-size: 2rem;
  }
}

@media (min-width: 1281px) { /* hi-res laptops and desktops */
  body {
    font-size: 2rem;
  }
}


/* Style The Dropdown Button */
.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  background-color: #4CAF50 !important;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-top: 30px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown {
  background-color: #3e8e41 !important;
}
